<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<insert id="reg" parameterType="bvo">
		insert into board(title, writer, content)
		values(#{title}, #{writer}, #{content})
	</insert>
	<select id="list" resultType="bvo">
		select * from board
	</select>
	<update id="count" parameterType="int">
		update board set count = count+1 where bno = #{bno}
	</update>
	<select id="detail" parameterType="int" resultType="bvo">
		select * from board where bno = #{bno}
	</select>
	<select id="modify" parameterType="int" resultType="bvo">
		select * from board where bno = #{bno}
	</select>
	<update id="edit" parameterType="bvo">
		update board set title = #{title}, content =#{content} where bno = #{bno}
	</update>
	<delete id="remove" parameterType="int">
	  	delete from board where bno = #{bno} 
	 </delete>
	 <select id="total" resultType="int">
		 select count(bno) from board
	 </select>
	 <select id="pageList" parameterType="pgvo" resultType="bvo">
		 select * from board order by bno desc limit #{pageStart}, #{qty};
	 </select>
	 
</mapper> 