<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<insert id="ins" parameterType="bvo">
		insert into board(bTitle, bWriter, bContent) values(#{bTitle}, #{bWriter},
		#{bContent})
	</insert>
	<select id="list" resultType="bvo">
		select * from board
	</select>
	<select id="detail" resultType="bvo">
		select * from board where bNum = #{bNum}
	</select>
	<update id="edit" parameterType="bvo">
		update board set bTitle = #{bTitle}, bContent = #{bContent} where bNum = #{bNum}
	</update>
	<delete id="remove" parameterType="int">
		delete from board where bNum = #{bNum}
	</delete>
	<update id="count" parameterType="int">
		update board set bCount = bCount+1 where bNum=#{bNum}
	</update>
</mapper>